[Unit]
Description= BIOS Config Manager - For Remote BIOS configuration update

[Service]
Restart=always
ExecStart=/usr/bin/biosconfig-manager
SyslogIdentifier=biosconfig-manager
Type=dbus
BusName=xyz.openbmc_project.BIOSConfigManager

[Install]
WantedBy=multi-user.target
