[Unit]
Description= BIOS Config Password - For Remote BIOS configuration update

[Service]
Restart=always
ExecStart=/usr/bin/biosconfig-password
SyslogIdentifier=biosconfig-password
Type=dbus
BusName=xyz.openbmc_project.BIOSConfigPassword

[Install]
WantedBy=multi-user.target
